<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
        <title>Quality Marks</title>
        <style>
            #loader {
                transition: all 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
                position: fixed;
                height: 100vh;
                width: 100%;
                background: #fff;
                z-index: 90000;
            }
            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }
            .spinner {
                width: 40px;
                height: 40px;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                background-color: #333;
                border-radius: 100%;
                -webkit-animation: sk-scaleout 1s infinite ease-in-out;
                animation: sk-scaleout 1s infinite ease-in-out;
            }
            @-webkit-keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0);
                }
                100% {
                    -webkit-transform: scale(1);
                    opacity: 0;
                }
            }
            @keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                100% {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    opacity: 0;
                }
            }
        </style>
        <link href="../styles/template/style.css" rel="stylesheet" />
        <link href="../images/logo.png" rel="shortcut icon" />
    </head>
    <body class="app">
        <div id="loader"><div class="spinner"></div></div>
        <script>
            window.addEventListener("load", function load() {
                const loader = document.getElementById("loader");
                setTimeout(function () {
                    loader.classList.add("fadeOut");
                }, 300);
            });
        </script>
        <div>
            <div class="sidebar">
                <div class="sidebar-inner">
                    <div class="sidebar-logo">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer peer-greed">
                                <a class="sidebar-link td-n" href="/QualityMarks/ricercaProdottoAlimentare">
                                    <div class="peers ai-c fxw-nw">
                                        <div class="peer" style="margin: 30px auto 30px auto;">
                                            <div class="logo"><img src="../images/logo.png" width="100%"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="peer">
                                <div class="mobile-toggle sidebar-toggle">
                                    <a href="" class="td-n"><i class="ti-arrow-circle-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="sidebar-menu scrollable pos-r">
                        <li class="nav-item">
                            <a class="sidebar-link" href="/QualityMarks/ricercaProdottoAlimentare">
                                <span class="icon-holder"><i class="c-blue-500 ti-search"></i> </span><span class="title">Ricerca Prodotto Alimentare</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="sidebar-link" href="/QualityMarks/ricercaPerMarchio">
                                <span class="icon-holder"><i class="c-brown-500 ti-medall"></i> </span><span class="title">Ricerca per Marchio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="sidebar-link" href="/QualityMarks/ricercaEventi">
                                <span class="icon-holder"><i class="c-orange-500 ti-map-alt"></i> </span><span class="title">Ricerca Eventi</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-container">
                <main class="main-content bgc-grey-100" style="padding-top: 0px;">
                    <div id="mainContent">
                        <div class="row gap-20 masonry pos-r">
                            <div class="masonry-sizer col-3"></div>
                            <div class="masonry-item w-100"></div>
                            <div class="masonry-item col-6">
                                <div class="bgc-white p-20 bd">
                                    <h1 class="c-grey-900" style="float:left;"><%= payload.nomeProdotto %>&nbsp;</h1><h1>(<%= payload.nomeMarchio %>)</h1>
                                    <hr/>
                                    <h5 class="c-grey-900">Tipologia Prodotto: <%= payload.tipologia %></h5>
                                    <br/>
                                    <span class="whs-nw w-100 ov-h tov-e d-b" style="font-size: 1.2em;">Nazione: <%= payload.nomeNazione %>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Regione: <%= payload.nomeRegione %></span>
                                    <br/>
                                    <a href="../assets/disciplinari/<%= payload.nomeFileDisciplinare %>" target="_blank"><button type="button" class="btn btn-primary">Visualizza Disciplinare</button></a>
                                    <br/>
                                    <br/>
                                    <div class="c-grey-900 mB-5" style="font-size: 1.3em;">
                                        <span>Caratteristiche:</span>
                                        <ul>
                                            <% 
                                                payload.caratteristiche.forEach(element => {
                                            %>
                                                <li><span><%= Object.keys(element)[0] %>: <%= element[Object.keys(element)[0]] %></span></li>
                                            <%
                                                })                                         
                                            %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item col-3">
                                <div class="bgc-white p-20 bd">
                                    LOGO PRODOTTO
                                    <img src="../images/logo.png" style="width:100%;"> 
                                </div>
                            </div>
                            <div class="masonry-item col-3">
                                <div class="bgc-white p-20 bd">
                                    LOGO MARCHIO (?)
                                    <img src="../images/logo.png" style="width:100%;"> 
                                </div>
                            </div>
                            <div class="masonry-item col-6">
                                <div class="bgc-white p-20 bd c-grey-900" style="font-size: 1.2em;">
                                    <h5>Società Vigilante</h5>
                                    <% if(payload.societaVigilante !== undefined){ %>
                                        <span><%= payload.societaVigilante.nome %></span>
                                        <br/>
                                        <span><%= payload.societaVigilante.indirizzo %> - <%= payload.societaVigilante.cap %> <%= payload.societaVigilante.nomeCitta %> (<%= payload.societaVigilante.nomeProvincia %>), <%= payload.societaVigilante.nomeNazione %></span>
                                        <br/>
                                        <span>Telefono: <%= payload.societaVigilante.numeroTelefono %></span>
                                        <br/>
                                        <span>Fax: <%= payload.societaVigilante.fax %></span>
                                        <br/>
                                        <span>Sito Web: <a href="<%= payload.societaVigilante.sitoWeb %>" target="_blank"><%= payload.societaVigilante.sitoWeb %></a></span>
                                        <br/>
                                        <span>Email: <%= payload.societaVigilante.email %></span>
                                        <br/>
                                        <span>Partita IVA: <%= payload.societaVigilante.partitaIva %></span>
                                    <% }else{ %>
                                        <span>Informazione non disponibile</span>
                                    <% } %>
                                </div>
                            </div>
                            <div class="masonry-item col-6">
                                <div class="bgc-white p-20 bd">
                                    MAPPA ZONA DI PRODUZIONE
                                </div>
                            </div>
                            <div class="masonry-item col-6">
                                <div class="bgc-white p-20 bd c-grey-900" style="font-size: 1.2em;">
                                    <h5>Consorzio di Tutela</h5>
                                    <% if(payload.consorzioTutela !== undefined){ %>
                                        <span><%= payload.consorzioTutela.nome %></span>
                                        <br/>
                                        <span><%= payload.consorzioTutela.indirizzo %> - <%= payload.consorzioTutela.cap %> <%= payload.consorzioTutela.nomeCitta %> (<%= payload.consorzioTutela.nomeProvincia %>), <%= payload.consorzioTutela.nomeNazione %></span>
                                        <br/>
                                        <span>Telefono: <%= payload.consorzioTutela.numeroTelefono %></span>
                                        <br/>
                                        <span>Sito Web: <a href="<%= payload.consorzioTutela.sitoWeb %>" target="_blank"><%= payload.consorzioTutela.sitoWeb %></a></span>
                                        <br/>
                                        <span>Email: <%= payload.consorzioTutela.email %></span>
                                    <% }else{ %>
                                        <span>Informazione non disponibile</span>
                                    <% } %>
                                </div>
                            </div>
                            <div class="masonry-item col-12">
                                <div class="bgc-white p-20 bd">
                                    <h5 class="c-grey-900" style="font-size: 1.2em;">Aziende che lo producono:</h5>
                                    <div class="mT-30" style="margin-top: 0px !important;">
                                        <div class="layer w-100 fxg-1 scrollable pos-r">
                                            <div style="font-size: 1.1em;">
                                                <% 
                                                    payload.aziedeProduttrici.forEach(element => {
                                                %>
                                                <div class="email-list-item peers fxw-nw p-20 bdB bgcH-grey-100">
                                                    <div class="peer peer-greed ov-h">
                                                        <h5 class="fsz-def tt-c c-grey-900"><%= element.nome %></h5>
                                                        <span><%= element.indirizzo %> - <%= element.cap %> <%= element.nomeCitta %> (<%= element.nomeProvincia %>), <%= element.nomeNazione %></span>
                                                        <br/>
                                                        <span>Telefono: <%= element.numeroTelefono %></span>
                                                        <br/>
                                                        <span>Email: <%= element.email %></span>
                                                    </div>
                                                </div>
                                                <%
                                                    })
                                                    if(payload.aziedeProduttrici.length == 0){
                                                %>
                                                    <span>Nessuna azienda disponibile</span>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item col-12">
                                <div class="bgc-white p-20 bd">
                                    <h5 class="c-grey-900" style="font-size: 1.2em;">Eventi relativi:</h5>
                                    <div class="mT-30" style="margin-top: 0px !important;">
                                        <div class="layer w-100 fxg-1 scrollable pos-r">
                                            <div style="font-size: 1.1em;">
                                                <% 
                                                    payload.eventi.forEach(element => {
                                                %>
                                                <div class="email-list-item peers fxw-nw p-20 bdB bgcH-grey-100">
                                                    <div class="peer peer-greed ov-h">
                                                        <h5 class="fsz-def tt-c c-grey-900"><%= element.titolo %></h5>
                                                        <span>Periodo: <%= element.mese %></span>
                                                        <br/>
                                                        <span>
                                                        <% if(element.indirizzo !== ""){ %>
                                                        <%= element.indirizzo %> - 
                                                        <% } %>                                                           
                                                        <%= element.nomeCitta %> (<%= element.nomeProvincia %>), <%= element.nomeRegione %>, <%= element.nomeNazione %></span>
                                                        <br/>
                                                        <span>Organizzatore: <%= element.organizzatore %></span>
                                                        <br/>
                                                        <span>Sito Web: 
                                                        <% if(element.sitoWeb !== "-"){ %>
                                                        <a href="<%= element.sitoWeb %>" target="_blank" onclick="event.stopPropagation();"><%= element.sitoWeb %></a>
                                                        <% }else{ %>
                                                        -
                                                        <% } %>
                                                        </span>
                                                    </div>
                                                </div>
                                                <%
                                                    })
                                                    if(payload.eventi.length == 0){
                                                %>
                                                    <span>Nessuna evento disponibile</span>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
                    <span>Copyright © 2019 Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a>. All rights reserved.</span>
                </footer>
            </div>
        </div>
        <script type="text/javascript" src="../scripts/template/vendor.js"></script>
        <script type="text/javascript" src="../scripts/template/bundle.js"></script>
        <script type="text/javascript" src="../scripts/template/jquery.js"></script>
        <script type="text/javascript" src="../scripts/ricercaProdottoAlimentare.js"></script>
    </body>
</html>
